In [2]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

In [78]:
json_string = json.load((open('data/world_bank_projects.json')))
json_normal = json_normalize(json_string, 'mjtheme_namecode')
print(json_normal.shape)
print(json_normal.info())
print(json_normal.head(20))

(1499, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB
None
   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

In [79]:
json_no_nulls = json_normal[json_normal['name'] != '']
print(json_no_nulls.shape)

json_no_nulls.groupby('name')['code'].agg('count').sort_values(ascending=False).head(10)

(1377, 2)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: code, dtype: int64

In [80]:
json_sorted = json_normal.sort_values(['code', 'name'], ascending=True)
json_sorted.head(10)

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

In [81]:
json_sorted['name'][json_sorted['name'] == ''] = np.nan
json_sorted.head(10)

     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

In [82]:
json_filled = json_sorted.fillna(method='bfill')
json_filled.sort_index().head(20)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion

In [97]:
json_filled.groupby('name')['code'].agg('count').sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: code, dtype: int64

In [94]:
def fill_blanks(row):
    value = ''
    if row['code'] == '1':
        value = 'Economic management'
    if row['code'] == '2':
        value = 'Public sector governance'
    if row['code'] == '3':
        value = 'Rule of law'
    if row['code'] == '4':
        value = 'Financial and private sector development'
    if row['code'] == '5':
        value = 'Trade and integration'
    if row['code'] == '6':
        value = 'Social protection and risk management'
    if row['code'] == '7':
        value = 'Social dev/gender/inclusion'
    if row['code'] == '8':
        value = 'Human development'
    if row['code'] == '9':
        value = 'Urban development'
    if row['code'] == '10':
        value = 'Rural development'
    if row['code'] == '11':
        value = 'Environment and natural resources management'
    row['name'] = value
    return row

In [96]:
json_new = json_normal.copy()
json_new = json_new.apply(fill_blanks, axis=1)
json_new.groupby('name')['code'].agg('count').sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: code, dtype: int64